In [2]:
import pandas as pd
import numpy as np
import pickle as pickle
import pathlib

In [3]:
data = pd.read_csv('/home/bh_parijat/data/NYPD_Arrests_Data__Historic_.csv')

In [4]:
path = pathlib.Path().absolute()/'reverse-data-map'

In [7]:
files = [file for file in path.iterdir()]

In [36]:
indices, zipcodes = [],[]

for file in files:
    
    if file.name == "0result0.pkl":
        continue
    with open(file,'rb') as handle:
        result = pickle.load(handle)
        
    #print(file)  
    a,b = zip(*result)
    
    indices.extend(a)
    zipcodes.extend(b)

In [43]:
df = pd.DataFrame(data={"org_index":indices,"zipcode":zipcodes})

In [44]:
df = df.sort_values(by=['org_index']).reset_index(drop=True)

In [45]:
df.to_csv('~/data/zipcode_index.csv',index=False)

In [46]:
df.head()

   org_index zipcode
0          0   11426
1          1   11105
2          2   11207
3          3   10019
4          4   10036

In [47]:
pd.read_csv('/home/bh_parijat/data/zipcode_index.csv').head()

   org_index  zipcode
0          0    11426
1          1    11105
2          2    11207
3          3    10019
4          4    10036

In [49]:
data = data.reset_index()

In [50]:
data.head()

,index,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,0,173130602,12/31/2017,566.0,"MARIJUANA, POSSESSION",678.0,MISCELLANEOUS PENAL LAW,PL 2210500,V,Q,105,0.0,25-44,M,BLACK,1063056.0,207463.0,40.735772,-73.715638
1,1,173114463,12/31/2017,478.0,"THEFT OF SERVICES, UNCLASSIFIED",343.0,OTHER OFFENSES RELATED TO THEFT,PL 1651503,M,Q,114,0.0,25-44,M,ASIAN / PACIFIC ISLANDER,1009113.0,219613.0,40.769437,-73.910241
2,2,173113513,12/31/2017,849.0,"NY STATE LAWS,UNCLASSIFIED VIOLATION",677.0,OTHER STATE LAWS,LOC000000V,V,K,73,1.0,18-24,M,BLACK,1010719.0,186857.0,40.679525,-73.904572
3,3,173113423,12/31/2017,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,18,0.0,25-44,M,WHITE,987831.0,217446.0,40.763523,-73.987074
4,4,173113421,12/31/2017,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,18,0.0,45-64,M,BLACK,987073.0,216078.0,40.759768,-73.989811

In [51]:
z_dataset = data.merge(df,left_on='index',right_on='org_index',how='outer')

In [52]:
z_dataset.shape

(4798339, 21)

In [53]:
data.shape

(4798339, 19)

In [54]:
z_dataset.to_csv('~/data/main-dataset.csv',index=False)

In [55]:
z_dataset.shape[0] -  df.shape[0]

464464