In [1]:
import pandas as pd
import numpy as np
import pickle as pickle
import pathlib

In [2]:
data = pd.read_csv('/home/bh_parijat/data/main-dataset.csv')

In [3]:

def remaining_pts(path = None):

    indices, zipcodes,latitudes,longitudes = [],[],[],[]
    files = [file for file in path.iterdir()]
    
    
    for file in files:

        if file.suffix == ".pkl":
            continue

        #print(file.name)
        with open(file,'rb') as handle:
            result = pickle.load(handle)

        #print(file)  
        a,b,c,d = zip(*result)

        indices.extend(a)
        zipcodes.extend(b)
        latitudes.extend(c)
        longitudes.extend(d)
        
        
    print(len(indices),len(zipcodes),len(longitudes),len(latitudes))
    
    return pd.DataFrame(data={'org_index':indices,'zipcodes':zipcodes,'Latitude':latitudes,'Longitude':longitudes})

In [4]:
#df = pd.DataFrame(data={"org_index":indices,"zipcode":zipcodes})

In [5]:
#df = df.sort_values(by=['org_index']).reset_index(drop=True)

In [6]:
#df.to_csv('~/data/zipcode_index.csv',index=False)

In [7]:
#df.head()

In [8]:
#pd.read_csv('/home/bh_parijat/data/zipcode_index.csv').head()

In [4]:
not_present = data[data['zipcode'].isnull()]

In [5]:
not_present.shape

(464464, 21)

In [40]:
not_present = not_present.drop(columns=['org_index','zipcode'])

In [41]:
data.shape

(4798339, 21)

In [42]:
#z_dataset.to_csv('~/data/main-dataset.csv',index=False)

In [43]:
#z_dataset.shape[0] -  df.shape[0]#

In [44]:
df_remaining_pts = pd.read_csv('/home/bh_parijat/NYPD-crime-analysis/reverse-data-map/not_present/remaining_points.csv')

In [45]:
df_remaining_pts.head()

   org_indices  zipcode   Latitude  Longitude
0       180000    11220  40.644274 -74.011194
1       180001    10013  40.715957 -73.997354
2       180002    11229  40.595930 -73.954908
3       180003    10002  40.715833 -73.986297
4       180004    11428  40.726293 -73.734761

In [46]:
df_remaining_pts = df_remaining_pts.rename(columns={'org_indices':'org_index'})

In [47]:
df_remaining_pts.shape

(457984, 4)

In [48]:
df_remaining_pts.columns

Index(['org_index', 'zipcode', 'Latitude', 'Longitude'], dtype='object')

In [49]:
df_remaining_pts.head()

   org_index  zipcode   Latitude  Longitude
0     180000    11220  40.644274 -74.011194
1     180001    10013  40.715957 -73.997354
2     180002    11229  40.595930 -73.954908
3     180003    10002  40.715833 -73.986297
4     180004    11428  40.726293 -73.734761

In [50]:
not_present.index

Int64Index([ 180000,  180001,  180002,  180003,  180004,  180005,  180006,
             180007,  180008,  180009,
            ...
            4798329, 4798330, 4798331, 4798332, 4798333, 4798334, 4798335,
            4798336, 4798337, 4798338],
           dtype='int64', length=464464)

In [58]:
remaining_merged = pd.merge(not_present, df_remaining_pts,left_on=['index'],right_on=['org_index'])

In [59]:
remaining_merged.head()

,index,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,...,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude_x,Longitude_x,org_index,zipcode,Latitude_y,Longitude_y
0,180000,164571494,05/08/2017,339.0,"LARCENY,PETIT FROM OPEN AREAS,UNCLASSIFIED",341.0,PETIT LARCENY,PL 1552500,M,K,...,M,WHITE HISPANIC,981144.0,174000.0,40.644274,-74.011194,180000,11220,40.644274,-74.011194
1,180001,164558531,05/08/2017,439.0,"LARCENY,GRAND FROM OPEN AREAS,UNCLASSIFIED",109.0,GRAND LARCENY,PL 1553004,F,M,...,M,WHITE,984984.0,200116.0,40.715957,-73.997354,180001,10013,40.715957,-73.997354
2,180002,164571491,05/08/2017,779.0,"PUBLIC ADMINISTRATION,UNCLASSIFIED FELONY",126.0,MISCELLANEOUS PENAL LAW,PL 2155100,F,K,...,M,WHITE,996773.0,156390.0,40.595930,-73.954908,180002,11229,40.595930,-73.954908
3,180003,164570089,05/08/2017,494.0,"STOLEN PROPERTY 2,1,POSSESSION,UNCLASSIFIED",111.0,POSSESSION OF STOLEN PROPERTY,PL 1654501,F,M,...,M,WHITE HISPANIC,988049.0,200071.0,40.715833,-73.986297,180003,10002,40.715833,-73.986297
4,180004,164558610,05/08/2017,779.0,"PUBLIC ADMINISTRATION,UNCLASSIFIED FELONY",126.0,MISCELLANEOUS PENAL LAW,PL 215510B,F,Q,...,M,ASIAN / PACIFIC ISLANDER,1057767.0,203993.0,40.726293,-73.734761,180004,11428,40.726293,-73.734761

In [60]:
remaining_merged.shape

(457984, 23)

In [54]:
remaining_merged.columns

Index(['index', 'ARREST_KEY', 'ARREST_DATE', 'PD_CD', 'PD_DESC', 'KY_CD',
       'OFNS_DESC', 'LAW_CODE', 'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT',
       'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'X_COORD_CD',
       'Y_COORD_CD', 'Latitude_x', 'Longitude_x', 'org_index', 'zipcode',
       'Latitude_y', 'Longitude_y'],
      dtype='object')

In [61]:
#column = {'org_index_x':'org_index','zipcode_x':'zipcode','Latitude_x':'Latitude','Longitude_x':'Longitude'}
columns = {'Latitude_x':'Latitude','Longitude_x':'Longitude'}
remaining_merged = remaining_merged.rename(columns=column)

remaining_merged = remaining_merged[data.columns]

In [62]:
remaining_merged.shape

(457984, 21)

In [63]:
remaining_merged.head()

,index,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,...,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,org_index,zipcode
0,180000,164571494,05/08/2017,339.0,"LARCENY,PETIT FROM OPEN AREAS,UNCLASSIFIED",341.0,PETIT LARCENY,PL 1552500,M,K,...,0.0,45-64,M,WHITE HISPANIC,981144.0,174000.0,40.644274,-74.011194,180000,11220
1,180001,164558531,05/08/2017,439.0,"LARCENY,GRAND FROM OPEN AREAS,UNCLASSIFIED",109.0,GRAND LARCENY,PL 1553004,F,M,...,0.0,45-64,M,WHITE,984984.0,200116.0,40.715957,-73.997354,180001,10013
2,180002,164571491,05/08/2017,779.0,"PUBLIC ADMINISTRATION,UNCLASSIFIED FELONY",126.0,MISCELLANEOUS PENAL LAW,PL 2155100,F,K,...,0.0,25-44,M,WHITE,996773.0,156390.0,40.595930,-73.954908,180002,11229
3,180003,164570089,05/08/2017,494.0,"STOLEN PROPERTY 2,1,POSSESSION,UNCLASSIFIED",111.0,POSSESSION OF STOLEN PROPERTY,PL 1654501,F,M,...,0.0,45-64,M,WHITE HISPANIC,988049.0,200071.0,40.715833,-73.986297,180003,10002
4,180004,164558610,05/08/2017,779.0,"PUBLIC ADMINISTRATION,UNCLASSIFIED FELONY",126.0,MISCELLANEOUS PENAL LAW,PL 215510B,F,Q,...,0.0,25-44,M,ASIAN / PACIFIC ISLANDER,1057767.0,203993.0,40.726293,-73.734761,180004,11428

In [64]:
remaining_merged[remaining_merged['zipcode'].isnull()].shape

(0, 21)

In [65]:
present = data[~data['zipcode'].isnull()]

In [66]:
present.shape

(4333875, 21)

In [67]:
not_present.shape[0]-remaining_merged.shape[0]

6480

In [68]:
#d1.shape[0]+remaining_merged.shape[0]

In [69]:
final_df = pd.concat([present,remaining_merged])

In [70]:
final_df.shape

(4791859, 21)

In [71]:
data.shape[0]-final_df.shape[0]

6480

In [72]:
#final_df[final_df['zipcode'].isnull()].shape

In [73]:
final_df.to_csv('~/data/main_dataset_update1.2.csv',index=False)

In [74]:
final_df.head()

,index,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,...,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,org_index,zipcode
0,0,173130602,12/31/2017,566.0,"MARIJUANA, POSSESSION",678.0,MISCELLANEOUS PENAL LAW,PL 2210500,V,Q,...,0.0,25-44,M,BLACK,1063056.0,207463.0,40.735772,-73.715638,0.0,11426.0
1,1,173114463,12/31/2017,478.0,"THEFT OF SERVICES, UNCLASSIFIED",343.0,OTHER OFFENSES RELATED TO THEFT,PL 1651503,M,Q,...,0.0,25-44,M,ASIAN / PACIFIC ISLANDER,1009113.0,219613.0,40.769437,-73.910241,1.0,11105.0
2,2,173113513,12/31/2017,849.0,"NY STATE LAWS,UNCLASSIFIED VIOLATION",677.0,OTHER STATE LAWS,LOC000000V,V,K,...,1.0,18-24,M,BLACK,1010719.0,186857.0,40.679525,-73.904572,2.0,11207.0
3,3,173113423,12/31/2017,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,...,0.0,25-44,M,WHITE,987831.0,217446.0,40.763523,-73.987074,3.0,10019.0
4,4,173113421,12/31/2017,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,...,0.0,45-64,M,BLACK,987073.0,216078.0,40.759768,-73.989811,4.0,10036.0

In [76]:
path = pathlib.Path().absolute()/'reverse-data-map'/'not_present'

dataframe = remaining_pts(path=path)

In [ ]:
#main_dataset.shape[0]-(d1.shape[0]+dataframe.shape[0])

In [65]:
#d1.shape[0]-dataframe.shape[0]

In [63]:
#dataframe.shape[0]

In [77]:
data[data['zipcode'].isnull()].shape

(464464, 21)

In [31]:
arrest_keys = list(final_df['ARREST_KEY'])
Left2 = data[~data['ARREST_KEY'].isin(arrest_keys)]

In [32]:
Left2.shape

(6480, 21)

In [33]:
Left2.to_csv('~/data/remaining6480.csv',index=False)