In [64]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pickle as pkl
import warnings
import time as time
import requests
from bs4 import BeautifulSoup
import urllib3
import numpy as np
from tqdm import tqdm
import asyncio
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)
from requests_html import HTMLSession,AsyncHTMLSession

In [2]:
data = pd.read_csv('/home/bh_parijat/data/main_dataset_update1.2.csv')

In [3]:
data.shape

(4791859, 21)

In [4]:
data.zipcode.value_counts()

11207.0    98484
10035.0    94918
11212.0    92070
10457.0    87027
10001.0    86859
           ...
10152.0        4
10704.0        3
11020.0        2
10045.0        1
11559.0        1
Name: zipcode, Length: 214, dtype: int64

In [11]:
asession = HTMLSession()
url = "http://www.zipcodestogo.com/New%20York/"

In [12]:
 def get_html_data(delay=5000):
    

    response =  asession.get(url)
    
    
    
    soup = BeautifulSoup(response.content,'html.parser')
    
    table_rows = soup.find_all('tr')
    
    return table_rows

In [13]:
table_rows =get_html_data()

In [14]:
print(len(table_rows))

2217

In [15]:
table_rows[-10].find_all('td')

[<td align="center"><a href="//www.zipcodestogo.com/Elmira/NY/14925/">14925</a></td>,
 <td>Elmira</td>,
 <td><a href="/Chemung/NY/">Chemung</a></td>,
 <td><div align="center"><a href="//maps.google.com/maps?oi=map&amp;q=14925">View Map</a></div></td>]

In [16]:
def create_map(rows = None):
    
    """
    Used for creating a map for zipcode to city and vice-versa
    
    """
    
    if not rows:
        return
    map_zipcode_city = {}
    
    map_city_zipcode = {}
    for row in rows:
        
        trs = row.find_all('td')
        
        if len(trs)!=4:
            continue
        zipcode = row.find_all('td')[0].text
        city = row.find_all('td')[1].text
        
        map_zipcode_city[zipcode] = city
        
        codes = map_city_zipcode.get(city,[])
        
        codes.append(zipcode)
        
        
    return map_city_zipcode,map_zipcode_city

In [17]:
map_city_zipcode,map_zipcode_city = create_map(rows=table_rows[3:])

In [18]:
len(map_zipcode_city.keys())

2205

In [19]:
def create_dataframe(map_zipcode_city=None):
    
    if map_zipcode_city is None:
        return None
    
    zipcode,city = [],[]
    for key in map_zipcode_city:
        zipcode.append(key)
        city.append(map_zipcode_city[key])
    zipcode_city_df = pd.DataFrame(data={'zipcode':zipcode,'city':city})
    
    return zipcode_city_df

In [33]:
zipcode_city_df = create_dataframe(map_zipcode_city=map_zipcode_city)
zipcode_city_df.head()

  zipcode            city
0   00501      Holtsville
1   00544      Holtsville
2   06390  Fishers Island
3   10001        New York
4   10002        New York

In [22]:
zipcode_city_df.to_csv('~/data/zipcode_city_map.csv',index=False)

In [41]:
data['zipcode'] = data.zipcode.apply(lambda x: np.int16(x))
data.shape

(4791859, 21)

In [43]:
zipcode_city_df['zipcode'] = zipcode_city_df.zipcode.apply(lambda x:np.int16(x))
zipcode_city_df.shape

(2205, 2)

In [46]:
data_mapped = pd.merge(data,zipcode_city_df, left_on=['zipcode'] , right_on=['zipcode'], how='left')

In [47]:
data_mapped.shape

(4791859, 22)

In [48]:
data_mapped.head()

,index,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,...,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,org_index,zipcode,city
0,0,173130602,12/31/2017,566.0,"MARIJUANA, POSSESSION",678.0,MISCELLANEOUS PENAL LAW,PL 2210500,V,Q,...,25-44,M,BLACK,1063056.0,207463.0,40.735772,-73.715638,0.0,11426,Bellerose
1,1,173114463,12/31/2017,478.0,"THEFT OF SERVICES, UNCLASSIFIED",343.0,OTHER OFFENSES RELATED TO THEFT,PL 1651503,M,Q,...,25-44,M,ASIAN / PACIFIC ISLANDER,1009113.0,219613.0,40.769437,-73.910241,1.0,11105,Astoria
2,2,173113513,12/31/2017,849.0,"NY STATE LAWS,UNCLASSIFIED VIOLATION",677.0,OTHER STATE LAWS,LOC000000V,V,K,...,18-24,M,BLACK,1010719.0,186857.0,40.679525,-73.904572,2.0,11207,Brooklyn
3,3,173113423,12/31/2017,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,...,25-44,M,WHITE,987831.0,217446.0,40.763523,-73.987074,3.0,10019,New York
4,4,173113421,12/31/2017,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,...,45-64,M,BLACK,987073.0,216078.0,40.759768,-73.989811,4.0,10036,New York

In [49]:
cities_not_found = data_mapped[data_mapped.city.isnull()]

In [50]:
cities_not_found.shape

(22568, 22)

In [51]:
cities_not_found.head()

,index,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,...,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,org_index,zipcode,city
48,48,173113521,12/31/2017,478.0,"THEFT OF SERVICES, UNCLASSIFIED",343.0,OTHER OFFENSES RELATED TO THEFT,PL 1651503,M,M,...,25-44,F,WHITE HISPANIC,995369.0,221138.0,40.773650,-73.959857,48.0,10075,NaN
157,157,173117304,12/31/2017,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200502,F,M,...,25-44,M,WHITE,994643.0,216998.0,40.762288,-73.962485,157.0,10065,NaN
197,197,173117789,12/31/2017,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200502,F,M,...,25-44,F,WHITE,994643.0,216998.0,40.762288,-73.962485,197.0,10065,NaN
268,268,173120426,12/31/2017,439.0,"LARCENY,GRAND FROM OPEN AREAS,UNCLASSIFIED",109.0,GRAND LARCENY,PL 1553001,F,M,...,18-24,M,BLACK,992359.0,217816.0,40.764536,-73.970728,268.0,10065,NaN
939,939,173085784,12/29/2017,205.0,"TRESPASS 2, CRIMINAL",352.0,CRIMINAL TRESPASS,PL 1401500,M,M,...,25-44,F,ASIAN / PACIFIC ISLANDER,996768.0,221152.0,40.773687,-73.954806,939.0,10075,NaN

In [52]:
cities_not_found.zipcode.value_counts()

10065    15430
83        4558
10075     2476
10097      104
Name: zipcode, dtype: int64

In [54]:
d10097 = data[data.zipcode == 10097]

In [55]:
d10097.shape

(104, 21)

In [57]:
d10097.head()

,index,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,...,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,org_index,zipcode
44615,44615,170952625,10/29/2017,203.0,"TRESPASS 3, CRIMINAL",352.0,CRIMINAL TRESPASS,PL 1401000,M,M,...,0.0,45-64,M,BLACK,988506.0,217073.0,40.762499,-73.984638,44615.0,10097
63548,63548,170132910,10/06/2017,515.0,"CONTROLLED SUBSTANCE,SALE 3",117.0,DANGEROUS DRUGS,PL 2203901,F,M,...,0.0,25-44,M,BLACK,988506.0,217073.0,40.762499,-73.984638,63548.0,10097
143163,143163,166396250,06/24/2017,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELONY",113.0,FORGERY,PL 1657200,F,M,...,0.0,45-64,M,BLACK,988506.0,217073.0,40.762499,-73.984638,143163.0,10097
163748,163748,165289147,05/29/2017,269.0,"MISCHIEF,CRIMINAL, UNCL 2ND",121.0,CRIMINAL MISCHIEF & RELATED OFFENSES,PL 145052H,F,M,...,0.0,25-44,M,BLACK,988506.0,217073.0,40.762499,-73.984638,163748.0,10097
227623,247553,162004919,02/16/2017,707.0,"IMPERSONATION 2, PUBLIC SERVANT",340.0,FRAUDS,PL 1902300,M,M,...,0.0,25-44,M,ASIAN / PACIFIC ISLANDER,988506.0,217073.0,40.762499,-73.984638,247553.0,10097

In [65]:


latitudes,longitudes, zipcodes,indices = [],[],[],[]

for i,row in tqdm(cities_not_found.iterrows()):
    
    lat = row['Latitude']
    
    lon = row['Longitude']
    
    index = row['org_index']
    
    base_url = "https://maps.googleapis.com/maps/api/geocode/json?latlng="
    
    query_params = "&key=AIzaSyDwnQnzv_HtSlzkKfXfcg_v0pbXBRBui1U" 
    
    url = base_url + str(lat) + "," + str(lon) + query_params
    
    res = requests.request("GET",url)
    
    res = res.json()
    
    features = res['results']
    
    zipcode = None
    for feature in features:
        
        address = feature['address_components']
        
        for info in address:
            
            if "postal_code" in info["types"]:
                zipcode = info["long_name"]
                
                
                
    if zipcode is not None:
        latitudes.append(lat)
        longitudes.append(lon)
        zipcodes.append(zipcode)
        indices.append(index)

22568it [13:00, 28.92it/s]

In [67]:
len(indices),len(zipcodes)

(22568, 22568)

In [68]:
new_df = pd.DataFrame(data={"org_index":indices,"Latitude":latitudes,"Longitude":longitudes,"zipcode":zipcodes})

In [69]:
new_df.head()

   org_index   Latitude  Longitude zipcode
0       48.0  40.773650 -73.959857   10075
1      157.0  40.762288 -73.962485   10065
2      197.0  40.762288 -73.962485   10065
3      268.0  40.764536 -73.970728   10065
4      939.0  40.773687 -73.954806   10075

In [70]:
new_df.shape

(22568, 4)

In [71]:
new_df.zipcode.value_counts()

10065    13490
10024     3269
10075     2215
10022     1094
10019      827
10021      755
10128      536
10028      382
Name: zipcode, dtype: int64

In [72]:
missing_zipcode_in_map = {10065:"New York",10075:"New York",
                          10024:"New york",10022:"New york",
                          10019:"New york",10021:"New york",
                          10128:"New york",10028:"New York"}

In [74]:
new_df['city'] = new_df.zipcode.apply(lambda x:missing_zipcode_in_map[np.int32(x)])

In [75]:
new_df.head()

   org_index   Latitude  Longitude zipcode      city
0       48.0  40.773650 -73.959857   10075  New York
1      157.0  40.762288 -73.962485   10065  New York
2      197.0  40.762288 -73.962485   10065  New York
3      268.0  40.764536 -73.970728   10065  New York
4      939.0  40.773687 -73.954806   10075  New York

In [76]:
cities_not_found_1 = cities_not_found.drop(columns=['zipcode','city','org_index'])

In [77]:
cities_not_found_1.head()

,index,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
48,48,173113521,12/31/2017,478.0,"THEFT OF SERVICES, UNCLASSIFIED",343.0,OTHER OFFENSES RELATED TO THEFT,PL 1651503,M,M,19,1.0,25-44,F,WHITE HISPANIC,995369.0,221138.0,40.773650,-73.959857
157,157,173117304,12/31/2017,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200502,F,M,19,0.0,25-44,M,WHITE,994643.0,216998.0,40.762288,-73.962485
197,197,173117789,12/31/2017,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200502,F,M,19,0.0,25-44,F,WHITE,994643.0,216998.0,40.762288,-73.962485
268,268,173120426,12/31/2017,439.0,"LARCENY,GRAND FROM OPEN AREAS,UNCLASSIFIED",109.0,GRAND LARCENY,PL 1553001,F,M,19,0.0,18-24,M,BLACK,992359.0,217816.0,40.764536,-73.970728
939,939,173085784,12/29/2017,205.0,"TRESPASS 2, CRIMINAL",352.0,CRIMINAL TRESPASS,PL 1401500,M,M,19,0.0,25-44,F,ASIAN / PACIFIC ISLANDER,996768.0,221152.0,40.773687,-73.954806

In [78]:
cities_not_found_1.shape

(22568, 19)

In [79]:
cities_not_found_1 = pd.merge(cities_not_found_1,new_df, left_on=['index','Latitude','Longitude'],right_on=['org_index','Latitude','Longitude'])

In [80]:
cities_not_found_1.shape

(22568, 22)

In [81]:
cities_not_found_1.columns

Index(['index', 'ARREST_KEY', 'ARREST_DATE', 'PD_CD', 'PD_DESC', 'KY_CD',
       'OFNS_DESC', 'LAW_CODE', 'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT',
       'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'X_COORD_CD',
       'Y_COORD_CD', 'Latitude', 'Longitude', 'org_index', 'zipcode', 'city'],
      dtype='object')

In [82]:
cities_not_found_1.head()

,index,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,...,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,org_index,zipcode,city
0,48,173113521,12/31/2017,478.0,"THEFT OF SERVICES, UNCLASSIFIED",343.0,OTHER OFFENSES RELATED TO THEFT,PL 1651503,M,M,...,25-44,F,WHITE HISPANIC,995369.0,221138.0,40.773650,-73.959857,48.0,10075,New York
1,157,173117304,12/31/2017,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200502,F,M,...,25-44,M,WHITE,994643.0,216998.0,40.762288,-73.962485,157.0,10065,New York
2,197,173117789,12/31/2017,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200502,F,M,...,25-44,F,WHITE,994643.0,216998.0,40.762288,-73.962485,197.0,10065,New York
3,268,173120426,12/31/2017,439.0,"LARCENY,GRAND FROM OPEN AREAS,UNCLASSIFIED",109.0,GRAND LARCENY,PL 1553001,F,M,...,18-24,M,BLACK,992359.0,217816.0,40.764536,-73.970728,268.0,10065,New York
4,939,173085784,12/29/2017,205.0,"TRESPASS 2, CRIMINAL",352.0,CRIMINAL TRESPASS,PL 1401500,M,M,...,25-44,F,ASIAN / PACIFIC ISLANDER,996768.0,221152.0,40.773687,-73.954806,939.0,10075,New York

In [83]:
data_mapped.shape

(4791859, 22)

In [84]:
cities_found = data_mapped[~data_mapped.city.isnull()]

In [85]:
cities_found.shape

(4769291, 22)

In [86]:
cities_found.shape[0] + cities_not_found_1.shape[0]

4791859

In [87]:
data_mapped_final = pd.concat([cities_found,cities_not_found_1])

In [89]:
data_mapped_final[data_mapped_final.zipcode.isnull()].shape,data_mapped_final[~data_mapped_final.zipcode.isnull()].shape

((0, 22), (4791859, 22))

In [90]:
data_mapped_final[data_mapped_final.city.isnull()].shape,data_mapped_final[~data_mapped_final.city.isnull()].shape

((0, 22), (4791859, 22))

In [91]:
data_mapped_final.to_csv('~/data/master_mapped_data.csv',index=False)